[submodule "hatenaid-discovery"]
	path = hatenaid-discovery
	url = https://github.com/wakaba/hatenaid-discovery.git
[submodule "modules/perl-json-functions-xs"]
	path = modules/perl-json-functions-xs
	url = https://github.com/wakaba/perl-json-functions-xs.git
